/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.medicine-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .medicine-page {
    padding: 10px;
  }

  main {
    padding: 10px;
  }
}