.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 20px;
  font-family: Outfit, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  margin-right: 315px;
  margin-top: 40px;
}

.faq-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: left;
}

.faq-icon {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 590px; /* Added space between title and icon */
}

.faq-icon.expanded {
  transform: rotate(180deg);
}

.faq-section-1 {
  margin: 0 80px;
  padding: 30px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  margin-right: 315px;
  margin-top: 20px;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.faq-section-1.hidden {
  max-height: 0;
  padding: 0 30px;
  opacity: 0;
}

.faq-section-1.visible {
  max-height: 1000px;
  opacity: 1;
}

.faq-item {
  margin-bottom: 5px;
}

.faq-question {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.faq-answer {
  font-weight: normal;
  color: #555;
  margin-bottom: 0;
}

.no-faqs {
  font-weight: normal;
  color: #555;
}