.faq-section {
  /* max-width: 800px; */
  display: flex;
  margin: 0 50px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  margin-right: 315px;
  margin-top: 20px;
  
}

.faq-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center; 

}
.faq-icon{

display: end;}
.faq-section-1{
  
   /* display: flex; */
  margin: 0 80px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  margin-right: 315px;
}
